
h1{
    text-align: center;
    color: red;
}

h2{
    color : red;
}

td, th {
    border: 1px solid black; /* Bordure de 1 pixel solide noire */
    padding: 8px; /* Espace intérieur autour du contenu */
  }

#button{
    background-color: lightgrey;
    color : green;
}